body {
    overflow: hidden;
}
#documentSection,
#screenSection,
#urlSection {
    display: none;
}
#link-action,
.form-horizontal {
    overflow: hidden;
}
.section h2 small {
    color: #14505e;
}
label {
    font-weight: normal;
    color: #14505e;
}
.select-proxy-display {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    padding: 0 44px 0 15px;
    background: #fff;
    border: 1px solid #e4e9eb;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
    line-height: 44px;
    position: relative;
    color: #333;
}
.select-proxy-display .icon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: -1px;
    right: -1px;
    background-color: #cbcfd1;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #FFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid #e4e9eb;
}
.select-value-proxy {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    display: block;
}
.form-control {
    border-radius: 6px;
    border: 1px solid #e4e9eb;
    color: #333;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #00abd2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
}
.hidden-select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 44px;
    cursor: pointer;
    opacity: 0;
}
.form-group .btn-default {
    color: #333;
    background-color: #FFF;
    border: 1px solid #e4e9eb;
    border-bottom-width: 2px;
    border-radius: 6px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
}
.form-group .btn-default:focus {
    outline: none;
}
.form-group .btn-default:active:focus {
    color: #FFF;
    background-color: #0087a6;
    border-color: #0087a6;
}
